#tdd table
{
    border: 1px solid #6caace;
    border-collapse: collapse;
    box-shadow:3px 5px #e4e7e7;
    outline-width: 0px;
    background-color: white; 
}
#tdd th {
    /* font-size:medium; */
    /* background-color: #6caace; */
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    border: 2px solid #ddd;
    padding:10px;
    max-width: auto;
    text-align:center;
    background: #c5deea;
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );

}
#tdd .ttr {
    /* font-size:medium; */
    /* background-color: #6caace; */
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding:10px;
    max-width: auto;
    text-align:center;
    background: #c5deea;
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 );
    

}
#tdd td{
    /* text-shadow: 0.1em 0.1em #d9d9d9; */
    border: 2px solid #ddd;
    text-align:left;
    height: auto;
    white-space:nowrap;
    /* max-width: auto; */
    padding:2px;
    /* font-size:medium; */
}
#tdd tr:hover {background-color: #ebf9fc;}
tr.sticky th 
{
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
