body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border: 1px solid #6caace;
  border-collapse: collapse;
  box-shadow:3px 5px #e4e7e7;
  outline-width: 0px;
  background-color:#fafafd;
} 
th {
  text-align: left;
	font-size:medium;
	height: 35px;
  background-color: #6caace;
  border: 1px solid #6caace;
  color: white;
  padding:10px;
  }
td {
    text-align: left;
    font-size:medium;
    height: 35px;
    /* border: 1px solid #6caace; */
    border-bottom: 1px solid #6caace; 
    border-top: 1px solid #6caace; 
    padding:10px;
  }
 
  button
  {
      transition-duration: 0.2s;
      background-color: white; 
      color: black; 
      border: 1px solid #6caace;
      font-size:15px;
      font-weight:bold;
      border-radius: 3px;
  } 
  button:hover
  {
      background-color: #6caace;
      color: white;
  }